# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Moritz\OneDrive - Hochschule Bonn-Rhein-Sieg\Dokumente\Uni\4. Semester\SE2\Hausarbeit\Hausarbeit Carlook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
